[submodule "frontend"]
	path = frontend
	url = https://github.com/dustinmichels/journeychat-frontend.git
[submodule "journeychat"]
	path = journeychat
	url = https://github.com/dustinmichels/journeychat.git
